= notice
= form_for @restaurant do |restaurant|
   = restaurant.label :name
   = restaurant.text_field :name
   = restaurant.label :rating
   = restaurant.text_field :rating
   = restaurant.submit "Submit"
